<h1>{{title}}</h1>

<a href="/interactivedots">See a interactive dots chart</a><br>
<a href="/dots">See a dots chart</a><br>
<a href="/line">See a line chart</a><br>
<a href="/bars">See a bar chart</a><br>
<a href="/bell">See a bell chart</a><br>
<a href="/tempdots">See a thing that plots temperatures as dots</a><br>
<a href="/circles">See a circles thing</a><br>
<a href="/bounce">See a bounce thing</a><br>