<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

    .chart div {
      font: 6px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
