<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

      .chart rect {
        fill: steelblue;
      }

      .chart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
      }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
