<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

      body {
        font: 10px sans-serif;
      }

      .chart rect {
        fill: steelblue;
      }

      .chart text {
        fill: white;
        font: 10px sans-serif;
        text-anchor: end;
      }

      .axis path,
      .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }

      .x.axis path {
        display: none;
      }

      .line {
        fill: none;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
